<header
  class="py-2 bg-gradient-to-t from-blue-500 to-blue-700 dark:from-zinc-700 dark:to-zinc-900 shadow-lg fixed top-0 right-0 left-0 z-30"
>
  <nav class="flex justify-between items-center px-4">
    <a href="/" aria-label="Home Page">
      <img
        class="w-[150px] md:w-[175px]"
        src="/assets/svg/designly-logo-white.svg"
        alt="Designly"
        width="175"
        height="62"
      />
    </a>
    <h1 class="text-zinc-50 text-3xl hidden md:block">Developer Blog</h1>
    <div class="flex gap-8 items-center pr-2">
      <button class="btn-search-open" aria-label="Open Search Bar">
        <i class="fa-solid fa-search text-dark-colors text-3xl"></i>
      </button>
      <button class="btn-sidebar-open md:hidden" aria-label="Open Sidebar">
        <i class="fa-solid fa-bars text-dark-colors text-3xl"></i>
      </button>
    </div>
  </nav>
</header>
