<script>
    function loadLayer(html) {
        const layer = document.getElementById("layer");

        const parser = new DOMParser();
        const parsed = parser.parseFromString(html, "text/html");
        layer.innerHTML = parsed.body.innerHTML;

        const scripts = parsed.body.querySelectorAll("script");
        for (let i = 0; i < scripts.length; i++) {
            const script = document.createElement("script");
            for (let key in scripts[i].attributes) {
                script.setAttribute(key, scripts[i].attributes[key].value);
            }
            script.innerHTML = scripts[i].innerHTML;
            layer.appendChild(script);
        }

        layer.style.display = "flex";
    }

    function loadUrl(url) {
        loadingOn();
        fetch(url)
            .then((res) => res.text())
            .then((data) => {
                loadLayer(data);
            })
            .catch((err) => {
                console.error(err);
            })
            .finally(() => {
                loadingOff();
            });
    }

    function hideLayer() {
        const layer = document.getElementById("layer");
        layer.style.display = "none";
    }

    function loadingOn() {
        const loading = document.getElementById("loading");
        loading.style.display = "flex";
    }

    function loadingOff() {
        const loading = document.getElementById("loading");
        loading.style.display = "none";
    }
</script>
