<div class="grid grid-cols-1 md:grid-cols-4">
    <div class="col-span-3 px-4 md:px-20 py-10">
        <article class="flex flex-col gap-10 md:px-10">
            <section class="post-header flex flex-col gap-4">
                <h1 id="post-title" class="text-colors text-xl md:text-3xl font-bold">{{title}}</h1>
                <div class="flex gap-2 items-center tag-list">{{tagList}}</div>
                <img
                    class="rounded-md shadow-lg"
                    src="{{coverImagePost}}"
                    srcset="{{coverImageSrcSet}}"
                    alt="{{title}}"
                    width="1200"
                    height="675"
                />
                {{inc:/googleAd}}
            </section>
            <section class="post-content flex flex-col gap-6">{{content}}</section>
            {{inc:/googleAd}}
            <div class="share-buttons text-2xl flex gap-4 mx-auto">
                <h2 class="text-2xl font-bold text-colors">Please Share!</h2>
                <a
                    href="https://www.facebook.com/sharer.php?u=<?=urlencode($thisUrl);?>"
                    target="_blank"
                    aria-label="Share on Facebook"
                >
                    <i class="fab fa-facebook text-blue-700"></i>
                </a>
                <a
                    href="https://www.linkedin.com/shareArticle?url=<?=urlencode($thisUrl);?>"
                    target="_blank"
                    aria-label="Share on LinkedIn"
                >
                    <i class="fab fa-linkedin text-indigo-700"></i>
                </a>
                <a href="https://twitter.com/share?url=<?=urlencode($thisUrl);?>" target="_blank">
                    <i class="fab fa-twitter text-sky-700"></i>
                </a>
            </div>
            <hr />
            <div class="bg-white dark:bg-zinc-800 border-1 rounded-lg flex flex-col shadow p-6 max-w-xl mx-auto">
                <div class="grid grid-cols-1 md:grid-cols-4 gap-y-4">
                    <div class="col-span-1 flex items-center">
                        <img
                            src="https://cdn.designly.biz/imgr/jay.jpg?w=200&q=75"
                            alt="Jay"
                            width="200"
                            height="200"
                            class="rounded-full shadow-md border-4 border-blue-700/20 w-32 h-32 mx-auto"
                        />
                    </div>
                    <div class="col-span-3 px-6 flex flex-col gap-4">
                        <h3 class="text-2xl font-semibold text-center text-colors">About The Author</h3>
                        <p class="text-zinc-700 dark:text-zinc-300">
                            Jay is a full-stack developer, electrical engineer, writer and music producer. He currently
                            resides in the Madison, WI area.
                        </p>
                        <a
                            href="https://jay.designly.biz"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="text-hover flex gap-2 items-center"
                        >
                            <div>Portfolio Site</div>
                            <i class="fa-solid fa-external-link"></i>
                        </a>
                    </div>
                </div>
            </div>
            <hr />
            <h2 class="text-2xl font-bold text-center border-b-2 border-dashed pb-1 text-colors">Comments</h2>
            <div id="comments" class="text-colors">
                <!-- Comments will be generated here -->
                <p>No Comments Yet</p>
            </div>
            <button id="btn-post-comment" class="btn btn-primary btn-outline flex gap-2 items-center max-w-md mx-auto">
                <i class="fas fa-comment-medical"></i>
                <div>Post Comment</div>
            </button>
            {{inc:/googleAd}}

            <template id="comment-template" class="text-colors">
                <div
                    class="comment flex flex-col gap-4 p-4 border rounded shadow mb-4 bg-white dark:bg-zinc-800 text-colors"
                >
                    <div class="flex gap-2 items-center">
                        <img
                            class="comment-avatar rounded-full w-10 h-10"
                            src="/assets/img/pixel-black.png"
                            width="100"
                            height="100"
                            alt="Commenter Avatar"
                        />
                        <div class="comment-display-name text-2xl text-cyan-700"></div>
                    </div>
                    <p class="comment-text"></p>
                    <div class="replies ml-4">
                        <!-- Replies will be generated here -->
                    </div>
                    <button class="reply-button mt-2 text-hover flex gap-2 items-center">
                        <i class="fas fa-comment-dots"></i>
                        <div>Reply</div>
                    </button>
                </div>
            </template>
        </article>
    </div>
    {{inc:/layout/sidebar}}
</div>
<input id="post-id" type="hidden" value="{{postId}}" />
<input id="reply-to" type="hidden" value="" />
<input id="post-url" type="hidden" value="<?=$thisUrl;?>" />
<script>
    function generateComment(commentData) {
        const template = document.querySelector("#comment-template");
        const clone = template.content.cloneNode(true);

        const displayName = clone.querySelector(".comment-display-name");
        displayName.textContent = commentData.displayName;

        const commentAvatar = clone.querySelector(".comment-avatar");
        commentAvatar.setAttribute("src", commentData.avatar);

        const commentText = clone.querySelector(".comment-text");
        commentText.textContent = commentData.comment;

        const repliesContainer = clone.querySelector(".replies");
        commentData.replies.forEach((reply) => {
            const replyElement = generateComment(reply);
            repliesContainer.appendChild(replyElement);
        });

        const replyButton = clone.querySelector(".reply-button");
        replyButton.addEventListener("click", () => {
            document.getElementById("reply-to").value = commentData._id;
            loadUrl("/comment");
        });

        return clone;
    }

    const fetchComments = async () => {
        const postId = document.getElementById("post-id").value;

        try {
            const result = await fetch(`https://blog-comments.designly.workers.dev/?postId=${postId}`);
            const comments = await result.json();

            const commentsContainer = document.querySelector("#comments");
            if (Array.isArray(comments) && comments.length) {
                commentsContainer.innerHTML = "";
                comments.forEach((comment) => {
                    const commentElement = generateComment(comment);
                    commentsContainer.appendChild(commentElement);
                });
            }
        } catch (err) {
            console.error(err);
        }
    };

    setTimeout(async () => {
        fetchComments();

        document.getElementById("btn-post-comment").addEventListener("click", () => {
            loadUrl(`/comment`);
        });
    }, 0);
</script>
